@charset "UTF-8";

/* ------------------------------------------------- 게시글 페이징 버튼 영역 Start ------------------------------------------------- */
#pagination-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    gap: 6px; /* 버튼 간 간격 */
    margin-top: 16px;
    margin-bottom: 16px;
}

#pagination-container button {
    padding: 6px 12px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1); /* 살짝 그림자 */
    border: 1px solid #ff6b6b;
    border-radius: 4px;
    background-color: #fff;
    color: #2c3e50;
    cursor: pointer;
    transition: all 0.2s;
}
#pagination-container button:hover:not(:disabled) {
    background-color: #ffe5e5;
    transform: translateY(-1px);
}

#pagination-container button:disabled {
    border-color: #ccc;
    color: #aaa;
    cursor: default;
    background-color: #f9f9f9;
    transform: none;
}

/* 현재 페이지 버튼 강조 */
#pagination-container button.current {
    background-color: #ff6b6b;
    color: #fff;
    border-color: #ff6b6b;
}
#page-buttons {

    margin-top: 3px;

}
/* ------------------------------------------------- 게시글 페이징 버튼 영역 End ------------------------------------------------- */